/* ------------------ Página de Trama ---------------- */
/* section {
    margin-bottom: 50px; 
} */

#trama {
    padding-bottom: 30px;
    align-items: start;
}

#trama #div-imagenes {
    /* 1. Se convierte el div en un contenedor flexible */
    display: flex;
    /* 2. Definimos un espacio entre las imágenes */
    gap: 1rem;
    /* 3. Le damos la altura fija que deseas */
} 

#contenedor {
    margin: 0 20px;
}

/* --------- Diseño Responsivo (Responsive) --------- */
@media (max-width: 768px) {
    #trama {
        align-items: center;
    }
    #trama .info-container .info-text {
        align-self: flex-start;
    }

}



/* Algunos descartados: 
    Para evitar que la imagen se estire para llenar el espacio
    flex-grow: 0;




*/